<h1>Ngx Simple Spinner</h1>
<div class="footnote">Simple and lightweight, yet customizable spinner/number input module for Angular</div>
<div class="source-links">
  <p>GitHub: <a href="https://github.com/raphaelM-sudo/ngx-simple-spinner">raphaelM-sudo/ngx-simple-spinner</a></p>
  <p>NPM: <a href="https://www.npmjs.com/package/@nutrify/ngx-simple-spinner">@nutrify/ngx-simple-spinner</a></p>
</div>
<div class="container">

  <div class="container-content">
    <div class="example">
      <simple-spinner min="1" max="100"></simple-spinner>
      <code>min="1" max="100"</code>
    </div>
    <div class="example">
      <simple-spinner [(ngModel)]="value1" min="1" max="100" required></simple-spinner>
      <code>[(ngModel)]="value1" min="1" max="100" required</code>
    </div>
    <div class="example">
      <simple-spinner [(ngModel)]="value2" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" hoverNav="false"></simple-spinner>
      <code>[(ngModel)]="value2" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" hoverNav="false"</code>
    </div>
    <div class="example">
      <simple-spinner [(ngModel)]="value3" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" hoverBorder="true" placeholder="Placeholder" required></simple-spinner>
      <code>[(ngModel)]="value3" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" hoverBorder="true" placeholder="Placeholder" required</code>
    </div>
    <div class="example">
      <simple-spinner [(ngModel)]="value4" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" disabled></simple-spinner>
      <code>[(ngModel)]="value4" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" disabled</code>
    </div>
    <div class="example">
      <simple-spinner [(ngModel)]="value5" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" dir="rtl"></simple-spinner>
      <code>[(ngModel)]="value5" min="1" max="100" smallStep="0.25" maxDecimalPlaces="2" fractions="true" dir="rtl"</code>
    </div>
  </div>

  <div class="buy-me-a-coffee">
    <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/raphaelm">
      <img src="https://bmc-cdn.nyc3.digitaloceanspaces.com/BMC-button-images/BMC-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left:5px">Buy me a coffee</span>
    </a>
  </div>
</div>
<footer>
  <p>Demo using Angular {{version}}</p>
  <p>Released under the <a href="https://github.com/raphaelM-sudo/ngx-simple-spinner/blob/master/LICENSE">MIT</a> license - <a href="https://github.com/raphaelM-sudo/ngx-simple-spinner">View source</a></p>
  <div class="browser-info">
    <span>Tested with</span>
    <div>
      <img class="browser-icon" src="assets/images/icons/chrome.png" alt="Chrome">
      <img class="browser-icon" src="assets/images/icons/firefox.png" alt="Firefox">
      <img class="browser-icon" src="assets/images/icons/opera.png" alt="Opera">
      <img class="browser-icon" src="assets/images/icons/vivaldi.png" alt="Vivaldi">
      <img class="browser-icon" src="assets/images/icons/edge.png" alt="Edge">
    </div>
  </div>
</footer>
